<app-adminheader></app-adminheader>
<div>
    <h1>{{message}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">DOCTOR DETAILS :<span class="req">
                              </span></legend>
                    <div class="form-group">
                        <label for="name">FIRST NAME :</label>
                        <input required type="text" [(ngModel)]="b.firstName" name="firstName" id="firstName"
                            class="form-control" maxlength="28" placeholder="Doctor's first name...." />
                    </div>
                    <div class="form-group">
                        <label for="name">LAST NAME: </label>
                        <input required type="text" [(ngModel)]="b.lastName" name="lastName" id="lastName"
                            class="form-control" maxlength="28" placeholder="Doctor's last name...." />
                    </div>
                    <div class="form-group">
                        <label for="name">EMAIL ID: </label>
                        <input required type="email" [(ngModel)]="b.email" name="email" id="email"
                            class="form-control" maxlength="20000" placeholder="Doctor's Email id...." />
                    </div>

                    <div class="form-group">
                        <label for="name">PHONE NO: </label>
                        <input required type="number" [(ngModel)]="b.phno" name="phno" id="phno"
                            class="form-control phone" maxlength="10" placeholder="Doctor's contact number...." />
                    </div>

                    <div class="form-group">
                        <label for="salary">DOCTOR FEE: </label>
                        <input class="form-control" type="number" [(ngModel)]="b.fees" name="fees" id="fees" 
                            placeholder="Doctor Fee.." required />
                        <div id="errLast"></div>
                    </div>
                    <div class="form-group">
                        <label for="des">DESIGNATION: </label>
                        <input name="type"  [(ngModel)]="type" type="radio" [value]="0" /> GENERAL
                        <input name="type"  [(ngModel)]="type" type="radio" [value]="1" /> SPECIALIST
                        <div *ngIf="type == 1">
                            <label  (change)="changeWebsite($event)" placeholder="Choose specialization...." >  Choose specialization....</label><br>
                               
                                <input name="specialization" type="radio" [(ngModel)]="specialization" [value]="0">CARDIOLOGIST<br>
                                <input name="specialization" type="radio" [(ngModel)]="specialization" [value]="1">NEUROLOGIST<br>
                                <input name="specialization" type="radio" [(ngModel)]="specialization" [value]="2">ORTHOPEDIATRIST<br>
                                <input name="specialization" type="radio" [(ngModel)]="specialization" [value]="3">DERMATOLOGIST<br>
                           
                        </div>

                    </div>


<!-- <div class="form-group" *ngIf="des==='specialist'">
                        <label for="des"> SPECIALIZATON: </label>
                        <input class="form-control" required type="text" [(ngModel)]="b.specialization" name="readingAgeFrom"
                            id="readingAgeFrom" placeholder="From which reading age can read " />

                    </div> -->

                    <legend class="text-center">DOCTOR AVAILABILITY DETAILS :<span class="req">
                    </span></legend>
                    <div class="form-group">
                        <label for="des">AVAILABLE FROM: </label>
                        <input class="form-control"  [(ngModel)]="b.doctorAvailability.fromDay" name="readingAgeTo"
                            id="readingAgeFrom" placeholder="Upto which reading age can read" />
                        <label for="des">AVAILABLE TILL: </label>
                        <input class="form-control" required type="text" [(ngModel)]="b.doctorAvailability.toDay" name="toDay"
                            id="stock" placeholder="Enter stock no:" />
                    </div>

                    <div class="form-group">
                        <label for="des">FROM TIME:</label>
                        <input type="time" class="form-control" required type="time" [(ngModel)]="b.doctorAvailability.fromTime" name="fromTime"
                            id="fromTime"  />
                    </div>

                    <div class="form-group">
                        <label for="des">TO TIME:</label>
                        <input  class="form-control" required type="time" [(ngModel)]="b.doctorAvailability.toTime" name="toTime"
                            id="toTime"  />
                    </div>

                    <div class="form-group">
                        <label for="des"> AVAILABILITY STATUS:</label>
                                <label for="muhRadio1"><input type="radio" name="muhRadio" [(ngModel)]="b.doctorAvailability.availabilityStatus" value="true"/>ON DUTY</label>
                                <label for="muhRadio2"><input type="radio" name="muhRadio" [(ngModel)]="b.doctorAvailability.availabilityStatus" value="false"/>OFF DUTY</label>


                    </div>


                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="register()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->
    </div>
</div>