<app-docheader></app-docheader>
<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Password: </label>
            <input required type="password" [(ngModel)]="b.password" name="password" id="password"
                class="form-control" maxlength="20000" placeholder="Pasword...." />
        </div>

    </form>
    <div class="form-group">
        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="register()">
    </div>
</div>
