<div class="container">

                 <h2>Hi {{value.userName}}</h2>
                 <h3>First Name:</h3>
                 <p>{{value.firstName}}</p>
                 <h3>Last Name:</h3>
                 <p>{{value.lastName}}</p>
                 <h3>Email:</h3>
                 <p>{{value.email}}</p>
                 <h3>Phone No:</h3>
                 <p>{{value.phno}}</p>
                 
                 <h3>Designation:</h3>
                 <p>{{value.designation}} </p>
                 <h3>Specialization:</h3>
                 <p>{{value.specialization}}</p>
    
                 <button class="btn btn-primary" (click)="updateProfile()">Update</button>
                 <button class="btn btn-primary" (click)="updatePassword()">Update Password</button>
                 <!--<a href="#" class="btn btn-primary">{{card.buttonText}}</a>-->
           
         </div>
      