<app-docheader></app-docheader>
<div class="container">
<h2 style="font-family: 'Times New Roman', Times, serif;color: blueviolet;">Profile</h2>
                 <h4>First Name:</h4>
                 <p>{{value.firstName}}</p>
                 <h4>Last Name:</h4>
                 <p>{{value.lastName}}</p>
                 <h4>Email:</h4>
                 <p>{{value.email}}</p>
                 <h4>Phone No:</h4>
                 <p>{{value.phno}}</p>
                 
                 <h4>Designation:</h4>
                 <p>{{value.designation}} </p>
                 <h4>Specialization:</h4>
                 <p>{{value.specialization}}</p>
    
                 <button class="btn btn-primary" (click)="updateProfile()">Update</button><pre></pre>
                 <button class="btn btn-primary" (click)="updatePassword()">Update Password</button>
                 <!--<a href="#" class="btn btn-primary">{{card.buttonText}}</a>-->
           
         </div>
      