<app-docheader></app-docheader>
<h2>Update Profile</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">DOCTOR DETAILS :<span class="req">
                              </span></legend>
                    <div class="form-group">
                        <label for="name">FIRST NAME :</label>
                        <input required type="text" [(ngModel)]="b.firstName" name="bookName" id="bookName"
                            class="form-control phone" maxlength="28" placeholder="Doctor's first name...." />
                    </div>
                    <div class="form-group">
                        <label for="name">LAST NAME: </label>
                        <input required type="text" [(ngModel)]="b.lastName" name="authorName" id="authorName"
                            class="form-control phone" maxlength="28" placeholder="Doctor's last name...." />
                    </div>
                    <div class="form-group">
                        <label for="name">EMAIL ID: </label>
                        <input required type="email" [(ngModel)]="b.email" name="description" id="description"
                            class="form-control phone" maxlength="20000" placeholder="Doctor's Email id...." />
                    </div>

                    <div class="form-group">
                        <label for="name">PHONE NO: </label>
                        <input required type="number" [(ngModel)]="b.phno" name="bookPages" id="bookPages"
                            class="form-control phone" maxlength="20000" placeholder="Doctor's contact number...." />
                    </div>

                    <div class="form-group">
                        <label for="salary">DOCTOR FEE: </label>
                        <input class="form-control" type="number" [(ngModel)]="b.fees" name="bookPrice" id="bookPrice"
                            placeholder="Doctor Fee.." required />
                        <div id="errLast"></div>
                    </div>
                    <div class="form-group">
                        <label for="des">DESIGNATION: </label>
                                <input name="specialization"class="form-control" type="text" [(ngModel)]="b.specialization">
                      
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="register()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->
    </div>
</div>